venv
.env
db.sqlite3
*.pyc
debug.log
/assets
*/*/migrations/*.py
!*/*/migrations/__init__.py
/media/assets
.idea
/.vscode
admin_generator.txt
*/__init__.py
*/migrations/__init__.py




*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*.pyc
*/*/*/*/*/*.pyc
*.pyc
debug.log
/assets


*/*/migrations/__pycache__/
!*/*/migrations/*_.py
//migrations/*.py
